<h2>Review on <%= format_date @review.date %></h2>

<p><%= @review.reviewers.completed.count %> of <%= pluralize @review.reviewers.count, "reviewers" %> have completed the review.</p>

<%= render "manager_reviews/results" if @review.completed? %>
