$stat-width: 108px;

.cards {
  display: block;
  margin: 0;
  padding: 0;
  
  &::after {
    content: '.';
    clear: both;
  }
}

.user.card {
  display: block;
  float: left;
  width: 240px;
  margin: 1em;
  padding: 1em;
  border-radius: 0.5em;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
  border: 1 px solid rgba(0, 0, 0, 0.25);
  position: relative;
}

.user-name {
  display: block;
  font-size: 1.5em;
  margin-left: 100px;
  
  a { 
    color: inherit;
    &:hover { text-decoration: none; }
  }
}

.card .avatar {
  width: 80px;
  height: 80px;
  float: left;
  margin: 0 1em 1em 0;
}

.card .stats {
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
  clear: both;
}

.card .stat {
  display: block;
  white-space: nowrap;
  font-size: 0.75em;
//  line-height: 1.13636em; // 1 / 0.88
  line-height: 1.2em;
  margin: 0;
  padding: 0;
}

.stat-name {
  display: inline-block;
  width: 92px;
  margin-right: 8px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.stat-level-thermometer {
  display: inline-block;
  width: $stat-width;
  height: 6px;
  position: relative;
  border: 1px solid #efefef;
}

.stat-level-value {
  display: block;
  height: 6px;
  
  &.stat-level-group { height: 4px; }
  &.stat-level-personal { height: 2px; }
}

.stat-level-group { background-color: #a5d118; }
.stat-level-personal { background-color: #32a22d; }

dl.stat-key {
  font-size: 0.75em;
  line-height: 1.25em;
  margin: 12px 0 0 100px;
  
  dt {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 5px 0 0;
  }
  dd {
    margin: 0;
    display: inline;
    line-height: 1.25em;
    
    .stat-completion {
      &::before { content: '('; }
      &::after { content: ')'; }
    }
    
    &::after {
      content: '\a';
      white-space: pre;
    }
  }
}

.stat-level {
  display: inline-block;
  width: 40px;
  text-align: right;
}

.stat-rank {
  width: 16px;
  height: 16px;
}

.card .stat-guides {
  position: absolute;
  left: 100px;
  height: 100%;
  top: 0;
  width: $stat-width;
}

.card .stat-guide { 
  z-index: 1;
}

.user-incomplete-assessment {
  display: block;
  position: absolute;
  top: 120px;
  padding: 1em;
  width: 212px;
  font-weight: bold;
  color: black;
  
  background: rgba(255,255,255, 0.75);
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.75);
  
  .btn { font-weight: normal; }
}

.user-partial-assessment {
  font-size: 0.75em;
  line-height: 1.25em;
  margin: 0.5em 0;
}
